<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="style.css">
<head>
  <title>Workout Tracker</title>
  <meta charset="UTF-8">
</head>
<body>
  {{{body}}}
  <script src="/javascripts/buttonScript.js"></script>
</body>
</html>