<h1> Exercise Tracker </h1>
<form id="newExercise">
  <fieldset>
     <legend>New Exercise</legend>
	 <label>Name</label>
	 <input type="text" name="name" id="name">
	 <label> Reps </label>
	 <input type="number" name="reps" id="reps>
	 <label> Weight </label>
	 <input type="number" name="weight" id="weight">
	 <label> Date </label>
	 <input type="date" name="date" id="date">
	 <label> Measurement Type </label>
	 <select>
	   <option value="true">Pounds</option>
	   <option value="false">Kilograms</option>
	 <select>
	 <input type="button" name="submit" id="submit" value="New Exercise">
  </fieldset>
</form>
<table>
  <theader>
    <th> Name </th>
    <th> Content </th>
  </theader>
  <tbody>
  {{#each display}}
    <tr>
	  <td> {{this.name}} </td>
	  <td> {{this.content}} </td>
	</tr>
  {{/each}}
  </tbody>
</table>